@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <p>@AssemblyVersion</p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    private static string AssemblyVersion;

    static MainLayout()
    {
        AssemblyVersion = typeof(MainLayout).Assembly.GetName().Version!.ToString();
    }
}
